:root {
  --primaryText1: hsl(238, 29%, 16%);
  --primaryText2: hsl(14, 88%, 65%);
  --bgGradient1: hsl(273, 75%, 66%);
  --bgGradient2: hsl(240, 73%, 65%);
  --neutralText1: hsl(237, 12%, 33%);
  --neutralText2: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  background: linear-gradient(var(--bgGradient1), var(--bgGradient2));
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }
}

.card-wrapper {
  /* align-items: center; */
}

.card {
  z-index: 1;
  background: var(--divider);
  /* max-width: 78rem; */
  width: min(95vw, 78rem);
  border-radius: 2rem;
  margin: 5rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* overflow: hidden; */
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    text-align: center;
    height: fit-content;
    /* max-width: 35rem; */
    width: min(87vw, 35rem);
  }
}

.art {
  position: relative;
  align-self: center;
  display: grid;
  left: -6.5em;
  height: 100%;
}

.art .bg-pattern {
  position: absolute;
  left: -41em;
  top: -30.5em;
}

.box {
  position: absolute;
  left: -1.2em;
  top: 11.5em;
}

@media (max-width: 768px) { 
  .art {
    position: relative;
    width: 75%;
    height: auto;
    left: auto;
  }

  .box {
    display: none;
  }
}

.accordion-menu {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  text-align: start;
  width: 100%;
  max-width: 31.5rem;
  padding: 5rem 2rem;
}

.accordion-menu h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .accordion-menu {
    max-width: 100%;
    padding: 4rem 2rem;
  }

  .accordion-menu h1 {
    text-align: center;
  }
}

.accordion {
  margin: 1.5rem 0;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--neutralText1); 
  text-align: start;
  width: 100%;
  font-size: 1.2rem;
  border-width: 0; 
  font-weight: 400;
}

.label img {
  margin-left: 0.5rem;
}

.label:hover {
  cursor: pointer;
  color: var(--primaryText2);
}

.label.active {
  font-weight: 700;
}

@media (max-width: 768px) {
  .label {
    font-size: 1.1rem;
  }
}

.content {
  margin-top: 1rem;
  display: none;
  color: var(--neutralText2);
}

.content p {
  width: 95%;
}

.divider {
  border-bottom: 0.05rem solid var(--neutralText2);
}

hr {
  /* border-bottom: 0.05rem solid var(--neutralText2); */
  width: 100%;
}