:root {
  --primaryText1: hsl(238, 29%, 16%);
  --primaryText2: hsl(14, 88%, 65%);
  --bgGradient1: hsl(273, 75%, 66%);
  --bgGradient2: hsl(240, 73%, 65%);
  --neutralText1: hsl(237, 12%, 33%);
  --neutralText2: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  background: linear-gradient(var(--bgGradient1), var(--bgGradient2));
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }
}

.card {
  z-index: 1;
  background: var(--divider);
  max-width: 78rem;
  min-height: 42rem;
  border-radius: 2rem;
  margin: 5rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: fit-content;
    max-width: 30rem;
  }
}

.art {
  position: relative;
  display: grid;
  left: -7rem;
  width: 50%;
}

@media (max-width: 768px) { 
  .art {
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
  }
}

.accordion-menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5rem 9rem 5rem 2rem;
  text-align: start;
}

.accordion-menu h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .accordion-menu {
    width: 100%;
    padding: 4rem 2rem;
  }

  .accordion-menu h1 {
    text-align: center;
  }
}

.accordion {
  width: 100%;
  margin: 1.5rem 0;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--neutralText1); 
  text-align: start;
  width: 100%;
  font-size: 1.2rem;
  border-width: 0; 
  font-weight: 700;
}

.label:hover {
  cursor: pointer;
  color: var(--primaryText2);
}

.content {
  margin-top: 1rem;
  display: none;
  color: var(--neutralText2);
}

.divider {
  border-bottom: 0.05rem solid var(--neutralText2);
}

hr {
  /* border-bottom: 0.05rem solid var(--neutralText2); */
  width: 100%;
}