:root {
  --primaryText1: hsl(238, 29%, 16%);
  --primaryText2: hsl(14, 88%, 65%);
  --bgGradient1: hsl(273, 75%, 66%);
  --bgGradient2: hsl(240, 73%, 65%);
  --neutralText1: hsl(237, 12%, 33%);
  --neutralText2: hsl(240, 6%, 50%);
  --divider: hsl(240, 5%, 91%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

body {
  background-image: linear-gradient(var(--bgGradient1), var(--bgGradient2));
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  z-index: 1;
  background: var(--divider);
  width: 80rem;
  min-height: 42rem;
  border-radius: 2rem;
  margin: 5rem 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.art {
  position: relative;
  width: 50%;
  height: 42em;
  display: grid;
  left: -6.5rem;
}

.bg-pattern {
  position: absolute;
  top: -25em;
  left: -40em;
  width: 200%;
}

.textarea {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 9rem 5rem 3rem;
  text-align: start;
}

.textarea h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: var(--neutralText1); 
  text-align: start;
  width: 100%;
  font-size: 1.2rem;
  margin-top: 2rem;
  border-width: 0; 
  font-weight: 700;
}

.accordion:hover {
  cursor: pointer;
  color: var(--primaryText2);
}

.panel {
  padding: 1rem 0;
  display: none;
  color: var(--neutralText2);
}

.divider {
  border-bottom: 0.05rem solid var(--neutralText2);
}